<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间 指定映射对应的接口，全名   resultType 返回值类型-->
<mapper namespace="com.icss.mapper.AddressMapper">


    <insert id="addAddress" keyProperty="aid" useGeneratedKeys="true" parameterType="address">
        insert into address (userid, address)
        values (#{userid},#{address})
    </insert>
</mapper>