<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间 指定映射对应的接口，全名   resultType 返回值类型-->
<mapper namespace="com.icss.mapper.ClientUserMapper">

    <insert id="addClientUser"  parameterType="clientUser" keyProperty="userid" keyColumn="userid" useGeneratedKeys="true">
                insert into clientuser(username, password, joinDate, tel, pid,photo)
                values (#{username},#{password},now(),#{tel},#{pid},#{photo})

    </insert>

    <select id="selectByUsernamePassword" resultType="ClientUser">
        select * from clientuser where username=#{username} and password=#{password}
    </select>
    <select id="selectAll" resultType="com.icss.pojo.ClientUser">
        select *
        from clientuser
    </select>
    <insert id="save" keyProperty="userid" useGeneratedKeys="true" >
        insert into clientuser (photo)
        values (#{photo})
    </insert>
</mapper>